body {
    height: 100%;
    width: 95%;
    margin: 0 auto;
    background-image: url("../img/Foundry.jpg");
    background-size: cover;
}

.playoffs {
    font-family: 'Graduate', cursive;
}

.planets {
    font-family: 'Audiowide', cursive;
}

.monsters {
    font-family: 'Creepster', cursive;
}

.blackjacks {
    /* font-family: 'Playball', cursive; */
    font-family: 'Lobster', cursive;
}

header, footer {
    padding: 10px;
    color: white;
    border-radius: 20px;
    width: 100%
}

header {
    font-family: 'Playball', cursive;
    font-size: 55px;
    background: rgba(0,0,0,0.3);
}

footer {
    /* font-family: 'El Messiri', sans-serif; */
    font-family: 'Playball', cursive;
    font-size: 30px;
    background: none;
    display: block;
    clear: both;
    /* width: 100%; */
    /* margin: 20% 0 0 0; */
}

.headshot {
    width: 300px;
    border-radius: 150px;
    float: left;
    margin: 5% 0 0 0;
}

.bio {
    display: block;
    float: left;
    font-size: 30px;
    color: white;
    font-family: 'Playball', cursive;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 10px;
    /* width: 100%; */
    margin: 0;
}

.leftpanel {
    float: left;
    width: 53%;
}

.container {
    /* display: inline-block; */
    /* float: right; */
    /* justify-content: flex-end; */
    /* align-items: center; */
    height: 80%;
    width: 46%;
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
    margin: 0% 4% 0% 55%;
}

.box {
    /* width: 150px; */
    width: 450px;
    height: 100px;
    /* padding: 10px; */
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    line-height: 100px;
    margin: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    /* font-family: 'Monoton', cursive; */
    /* font-family: 'Playball', cursive; */
    font-size: 40px;
    display: inline-block;
    /* background-image: linear-gradient(to bottom right, red , yellow); */
}

.subtitle {
    font-size: 35px;
}

/* .box a:hover {
    background-color: rgba(0, 0, 0, 0.1);}
    background-image: linear-gradient(to bottom right, red , yellow);
} */

a {
    text-decoration: none;
    color: white
}

a:hover {
    color: orange;
}

header a {
    font-size: 30px;
}