body {
    height: 100%;
    width: 90%;
    margin: 0 auto;
    background-image: url("Foundry.jpg");
    background-size: cover;
}

header, footer {
    padding: 10px;
    color: white;
    border-radius: 20px;
}

header {
    font-family: 'Playball', cursive;
    font-size: 60px;
    background: rgba(0,0,0,0.3);
}

footer {
    font-family: 'El Messiri', sans-serif;
    font-size: 30px;
    background: none;
}

.container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    width: 60%;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 7% 7% 7% 40%;
}

.box {
    width: 200px;
    height: 100px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    line-height: 100px;
    margin: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    font-family: 'Monoton', cursive;
    font-size: 30px;
    /* background-image: linear-gradient(to bottom right, red , yellow); */
}

/* .box a:hover {
    background-color: rgba(0, 0, 0, 0.1);}
    background-image: linear-gradient(to bottom right, red , yellow);
} */

a {
    text-decoration: none;
    color: white
}

a:hover {
    color: orange;
}

.item1 {
    order: 2;
}

.item2 {
    order: 3;
}

.item3 {
    order: 1
}